body {
  text-decoration: none;
}

.container {
  padding:0 15px;
  margin: 0 auto;
}


/* 以下top-area */
/* ---------------- */

.top-area {
  /* background-color: black; */
  background-image: url(../img/background.jpg);
  background-size: cover;
  height: 600px;
  text-align: center;

}

#title {
  padding-top: 130px;
}

.top-area h1 {
  color: red;
  font-size: 100px;
}

.heading {
  text-align: center;
  letter-spacing: 7px;
}

/* 以下quiz-area
--------------- */

.heading h2 {
  border-bottom: 1px solid black;
}

.contents {
  float: left;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

.btn-link {
  padding: 8px 24px;
  background-color: blue;
  opacity: 0.9;
  color: white;
  border-radius: 5px;
}

.btn-link:hover {
  opacity: 1;
}

.answer {
  display: none;
}




